.venv/

MSc-Thesis/Bao/.ipynb_checkpoints/

*.zip

MSc-Thesis/Bao/testing_ignore

MSc-Thesis/Bao/.cache.sqlite

MSc-Thesis/Bao/.env

*.env

MSc-Thesis/Bao/ns_data.duckdb
MSc-Thesis/Bao/ns_data.duckdb.wal

MSc-Thesis/Bao/all_code/**/FUTURE_WORK*

MSc-Thesis/previous-work-brent
MSc-Thesis/previous-work-jonathan
MSc-Thesis/previous-work-merel

*.duckdb

*.wal

*.tmp

*.duckdb.tmp

MSc-Thesis/Bao/downloads/**

!MSc-Thesis/Bao/downloads/**/

!MSc-Thesis/Bao/downloads/**/.gitkeep

!MSc-Thesis/Bao/downloads/data/filtered/final_aggregated/